#bar
  {
    
     color:#FEFFFF;
     font-family:'Overlock SC';
    font-size:19px;
  }
  
    input[type="password"] {
      color:black;
      background-color:transparent;
     font-family:'Ubuntu', sans-serif;
margin: 8px 0;
border-radius: 20px;
text-decoration: none;
box-shadow: 0 5px 15px rgba(0,0,0,0.2);
border-color: white;
  }
      

  #check
  {
    position: relative;
     top:20px;
     color:#3AAFA9;
  }
  
    .style3
    {
        color:#FEFFFF;
       font-family:'Ubuntu', sans-serif;
    font-size:100px;


    }
    .gstyle2
    {
         color:#3AAFA9;
         font-family:'Overlock SC';
    font-size: 50px;

    }
    .gstyleone
   {  
       
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size:17px;
     

   }
    
   .gstyle1
   {
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size:20px;

   }


  .gstyle
   {
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size:15px;
     font-style: italic;

   }

   .gstyle3
    {
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size: 100px;


    }
    .style2
    {
         color:#FEFFFF;
         font-family:'Overlock SC';
    font-size: 50px;

    }
    
   .style1
   {
       color:#3AAFA9;
       font-family:'Ubuntu', sans-serif;
    font-size:40px;

   }


  .style
   {
        color:#FEFFFF;
        font-family:'Overlock SC';
    font-size:15px;
     font-style: italic;

   }
   
   .green
   {
        color:#3AAFA9;
         font-family:'Ubuntu', sans-serif;
    font-size:15px;
    

   }
   .box
   {
        padding: 50px;
        font-size: 32px;
        text-align: center;
        background:#dbdfe5;
        color:black;
        font-family:'Overlock SC';
   
   }
   
   .btn-primary
   {
     position: relative;
     display: inline-block;
     padding: 8px 20px;
     margin-top: 15px;
     background: #3AAFA9;
     color: #fff;
     border-radius: 20px;
     text-decoration: none;
     box-shadow: 0 5px 15px rgba(0,0,0,0.2);
     border-color: white;
     width:100%;
     } 

     .btn-primary:hover
 {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #3AAFA9;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  border-color: white;
  width:100%;
   } 

   body
   {
       background: url('hermes.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
   }
    
    #mychart3_status{
      width: 100%;
      background-color: #ddd;
      border-radius: 20px;
    }
     
    #mychart3_bar{
      width: 5%;
      height: 10px;
      background-color:red;
      text-align: center;
      line-height: 7px;
      color: black;
      border-radius: 20px;
    }

    #check1
    {
      display: none;
    }