#bar
  {
    
     color:#FEFFFF;
     font-family:'Overlock SC';
    font-size:19px;
  }
  
#cred
{
     border : 2px solid #3AAFA9;
    
}
  .btn-primary
  {
     background-color:#FEFFFF;
     color:#3AAFA9  ;
     font-family:'Overlock SC';

    } 
  
    .style3
    {
        color:#FEFFFF;
       font-family:'Ubuntu', sans-serif;
    font-size:100px;


    }
    .gstyle2
    {
         color:#3AAFA9;
         font-family:'Overlock SC';
    font-size: 50px;

    }
    .gstyleone
   {  
       
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size:35px;
     

   }
    
   .gstyle1
   {
          color:#FEFFFF;
          font-family:'Overlock SC';
    font-size:20px;

   }


  .gstyle
   {
       color:#FEFFFF;
       font-family:'Overlock SC';
    font-size:40px;
    

   }

   .gstyle3
    {
        color:#3AAFA9;
        font-family:'Overlock SC';
    font-size: 100px;


    }
    .style2
    {
         color:#FEFFFF;
         font-family:'Overlock SC';
    font-size: 50px;

    }
    
   .style1
   {
        color:#FEFFFF;
        font-family:'Overlock SC';
    font-size:20px;

   }


  .style
   {
        color:#FEFFFF;
        font-family:'Overlock SC';
    font-size:25px;
    

   }
   
  
   
   body
   {
       background: url('hermes.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
   }
  
  
    img
    {
        z-index:100;
        display:none;
    }
    
    input[type="text"] {
          color:black;
          background-color:transparent;
         font-family:'Ubuntu', sans-serif;
    margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #3AAFA9;
      }
    .gstyletwo
   {  
         color:#FEFFFF;
         font-family:'Overlock SC';
    font-size:17px;
     

   }
   
#myDiv
{
    display:none;
    border-radius:10px;
   z-index:50;
   height:80%;
   width:100%;
 background-color:white;
    font-family:'Ubuntu', sans-serif;
      color:black;
    
}


     #services
    {
        text-align:center; 
        padding: 50px 50px 50px 50px;
        font-weight: 700;
  text-transform: uppercase;
   background:linear-gradient(90deg,#3AAFA9,#3AAFA9,#3AAFA9);;
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 87%;
  animation: shine 5s linear infinite;
  position: relative;
       
    }
    
    
  @media (orientation: landscape) {
  #myDiv
{
    display:none;
    border-radius:10px;
   z-index:50;
   height:500px;
   width:100%;
 background-color:white;
font-family:'Ubuntu', sans-serif;
     color:black;

}

}


      
      #last
    {
      
            text-align:center; 
        padding: 50px 50px 50px 50px;
    }  
  


@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

.ball {
   
  position: absolute;
  border-radius: 100%;
  opacity: 0.7;
}

.drop {
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  box-shadow:20px 20px 50px rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);

}

a.red{

   position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   background: #3AAFA9;
   color: #fff;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
   
}
a.red:hover {
  position: relative;
   display: inline-block;
   padding: 8px 20px;
   margin-top: 15px;
   background: #fff;
   color: #000;
   border-radius: 20px;
   text-decoration: none;
   box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.content
{

  padding: 20px;
}

.content h3
{

  color: #fff;
  font-size: 1.8em;
  z-index:1;
  
}

.content p{

 font-size:1em;
 color: #fff;
 font-weight: 300;

}


#x1
{

 display: none !important;
 position: relative;
 top:20px;
}

.team
{
  position: relative;
  left:20px;
}

#main
{
  position: relative;
  top:65px; 
}