#bar
  {
    
     color:#FEFFFF;
     font-family:'Overlock SC';
    font-size:19px;
  }  
    .style3
    {
        color:#FEFFFF;
       font-family:'Ubuntu', sans-serif;
    font-size:100px;


    }
    .gstyle2
    {
         color:#3AAFA9;
       font-family:'Overlock SC', cursive;
    font-size: 30px;

    }
    .gstyleone
   {  
       color:#3AAFA9;
       font-family: 'Mukta', sans-serif;
    font-size:17px;
     

   }
    
   .gstyle1
   {
        color:black;
       font-family:'Overlock SC', cursive;
    font-size:19px;

   }


  .gstyle
   {
        color:#3AAFA9;
       font-family:'Overlock SC', cursive;
    font-size:15px;
     font-style: italic;

   }

   .gstyle3
    {
        color:#3AAFA9;
       font-family:'Overlock SC', cursive;
    font-size: 100px;


    }
    .style2
    {
         color:#FEFFFF;
       font-family:'Overlock SC', cursive;
    font-size: 50px;

    }
    
   .style1
   {
        color:#FEFFFF;
       font-family:'Overlock SC', cursive;
    font-size:20px;

   }


  .style
   {
        color:#FEFFFF;
       font-family:'Overlock SC', cursive;
    font-size:15px;
     font-style: italic;

   }
    body{
   
    color: #1a202c;
    text-align: left;
    background-color:white;    
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    border-color: white;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
   
  img
    {
        
        display:none;
    }   
